<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.PCConnectionString"
            connectionString="Data Source=DESKTOP-GBM0BVU\SQLEXPRESS;Initial Catalog=PC;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.PC_StoreConnectionString"
            connectionString="Data Source=DESKTOP-GBM0BVU\SQLEXPRESS;Initial Catalog=&quot;PC Store&quot;;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>