<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiveCharts" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net48" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net48" />
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net48" />
  <package id="ReaLTaiizor" version="3.8.1.1" targetFramework="net48" />
  <package id="Telerik.DataAccess.Core" version="2018.0.1127.1" targetFramework="net48" />
  <package id="Telerik.DataAccess.Fluent" version="2018.0.1127.1" targetFramework="net48" developmentDependency="true" />
  <package id="Telerik.FontIcons" version="4.0.0" targetFramework="net48" />
  <package id="Telerik.SvgIcons" version="4.0.0" targetFramework="net48" />
</packages>